Research Question: How does social class or income affect access to health care?
Strategy: 
- pull data from the GSS columns relating to health care, income, and other things in that topic, and then analyze the trends we find.

In [23]:
import pandas as pd
data = pd.read_csv('./Project_Data.csv')

In [24]:
data.head()

,wrkstat,income,satfin,finalter,health,helpsick,hlthinsr,doc13,doc14,health1,...,hlthcare,hlthall,hlthcovr,hlthtype,hrdshp6,hlthacc1,hlthacc4,hlthacc3,hlthacc2,prvdhlth
0,working full time,NaN,not satisfied at all,better,good,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,retired,NaN,more or less satisfied,stayed same,fair,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,working part time,NaN,pretty well satisfied,better,excellent,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,working full time,NaN,not satisfied at all,stayed same,good,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,keeping house,NaN,pretty well satisfied,better,good,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# Checking the unique values in finalter
# Change in Financial Situation : During the last few years, has your financial situation been getting better, worse, or has it stayed the same?
# This question was asked in all 34 years of the survey
print(data['finalter'].unique())
print(data['finalter'].isnull().sum())
data['finalter'].fillna('No Response', inplace= True)

['better' 'stayed same' 'worse' nan 'finalter']
4795

In [26]:
data.head()

,wrkstat,income,satfin,finalter,health,helpsick,hlthinsr,doc13,doc14,health1,...,hlthcare,hlthall,hlthcovr,hlthtype,hrdshp6,hlthacc1,hlthacc4,hlthacc3,hlthacc2,prvdhlth
0,working full time,NaN,not satisfied at all,better,good,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,retired,NaN,more or less satisfied,stayed same,fair,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,working part time,NaN,pretty well satisfied,better,excellent,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,working full time,NaN,not satisfied at all,stayed same,good,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,keeping house,NaN,pretty well satisfied,better,good,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# Cleaning the Income Variable 
# To clean the income variable, we decided to drop the nan because for our research question, we want to do analysis on income related to 
# healthcare data points, and it was not useful to keep the nan values so we dropped them
print(data['income'].unique())
print(data['income'].isnull().sum())
data = data.dropna(subset=['income'])

print(data['income'].isnull().sum())

[nan '$10,000 to $14,999' '$7,000 to $7,999' '$4,000 to $4,999'
 '$1,000 to $2,999' '$15,000 to $19,999' '$5,000 to $5,999'
 '$20,000 to $24,999' '$3,000 to $3,999' 'under $1,000' '$8,000 to $9,999'
 '$25,000 or more' '$6,000 to $6,999' 'income']
8951
0

In [28]:
data.head()

,wrkstat,income,satfin,finalter,health,helpsick,hlthinsr,doc13,doc14,health1,...,hlthcare,hlthall,hlthcovr,hlthtype,hrdshp6,hlthacc1,hlthacc4,hlthacc3,hlthacc2,prvdhlth
1613,working full time,"$10,000 to $14,999",pretty well satisfied,stayed same,fair,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1614,keeping house,"$7,000 to $7,999",more or less satisfied,stayed same,good,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1615,working full time,"$10,000 to $14,999",more or less satisfied,stayed same,excellent,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1616,working full time,"$10,000 to $14,999",not satisfied at all,stayed same,excellent,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1617,keeping house,"$10,000 to $14,999",pretty well satisfied,better,good,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN