## DS 3001 Project 2 - Divya Kuruvilla and Glory Gurrola
This project is about building predictive algorithms that predict the likelihood a person has a stroke.
The strategy to determine the best predictive model was to start by preparing and cleaning the variables in the data set, and then building different models. The models we build were linear models, k means clustering models, and decision trees; the model with the lowest RMSE on the testing data will be the final model.

### Reading in the Data

In [5]:
import numpy as np
import pandas as pd 

# Reading in the Training and Testing Data 
test_df = pd.read_csv('./data/testing_data.csv')
train_df = pd.read_csv('./data/training_data.csv')

### Variables
The data included for this project contained 12 variables, and their respective descriptions are as follows: 

- age: Patient age, numeric
- avg_glucose_level: Blood sugar levels, numeric
- bmi: Body mass index, numeric
- ever_married: Ever married, dummy/character (Yes, No)
- gender: Male, Female, or Other, character
- heart_disease: Has heart disease, dummy
- hypertension: Has hypertension, dummy
- id: Study identification number
- Residence_type: Type of residence, dummy/character (Urban, Rural)
- smoking_status: Former, never, or current smoker, categorical
- work_type: Employment type (Never worked (Never_worked), homemaker ("children"), - Public sector employment (Govt_job), Private sector employment (Private), - Self-employed (Self-employed) )
- stroke: Suffered a stroke in the sample period

In [3]:
# Look at the Data 
test_df.head()

,Unnamed: 0,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,251,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
1,252,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,Unknown,0
2,253,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
3,255,32257,Female,47.0,0,0,Yes,Private,Urban,210.95,50.1,Unknown,0
4,259,28674,Female,74.0,1,0,Yes,Self-employed,Urban,205.84,54.6,never smoked,0

From the output of "test_df.head()", some observations on how to clean the data were made. Since the variable "id" was the identification number, this variable, along with "Unnamed: 0" can be dropped. For sake of having the variables presented in an uniform manner, the "Residence_type" variable was renamed to be in lowercase to match the other variables.

In [ ]:
# Clean Data as noted above 

# Drop "id" and "Unnamed: 0" columns

# Rename "Residence_type" to be "residence_type"

In [ ]:
# Look for Missing Values

### Cleaning the Variables
- Drop id 
- Impute mean for BMI
- Drop missing values

### Graphs and Visualizations
- Summarize Data and Visualize with KDE and histograms
- Address Outliers
- Explain quantitative features of data

### Linear Models

### Polynomial Expansion

### K means Clustering

### Decision Trees

### Analysis 
- Talk about research strategy
- Main findings (summarize tables/plots/statistics)